@import "Styles/Globals";
$cn: app__TextContainer; // cn is for className

.#{$cn} {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem;

  background: var(--white-color);
  border-radius: 15px;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

:export {
  cn: $cn;
}