.pg-LayoutContainer {
    $ns: "pg-";
    $Module: "LayoutContainer";
    
    margin: 0 auto;
    max-width: $pg-Layout_maxWidth;
    
    @media only screen and (max-width: $pg-Layout_maxWidth + $pg-Layout_margin*2) {
        margin: 0 $pg-Layout_margin;
    }
}