@import url('https://fonts.googleapis.com/css?family=Open+Sans'); // Open Sans
@import url("https://use.typekit.net/ats0cju.css"); // Europa

@font-face {
    font-family:eurostile;
    src:url("../fonts/Eurostile.ttf") format("truetype");
    font-style:normal;
    font-weight:400;
}

@font-face {
    font-family:eurostile;
    src:url("../fonts/Eurostile-bold.ttf") format("truetype");
    font-style:normal;
    font-weight:bold;
}